footer.footer
	.footer-main
		.container
			.row.align-items-center
				figure.footer-logo.col-lg-3
					+logo('footer')
				nav.menu-container.navbar.navbar-expand-lg.navbar-light.justify-content-lg-end.col-lg
					+menu('footer')

	.footer-sub
		.container
			.row
				.footer-copy.col
					| &copy; 2019 Rangemaster
				.footer-terms.col
					a(href='/') Terms of delivery and payment
				.footer-gdpr.col
					a(href='/') GDPR
				.footer-policy.col
					a(href='/') Data processing policy
				.footer-dev.col
					a(href='/') sevengroup.pro