- var scripts = [{file: 'js/jquery-3.4.1.min.js', version: '20200216'}, {file: 'js/bootstrap.build.js', version: '20200218'}, {file: 'js/owl.carousel.min.js', version: '20191206'}, {file: 'js/site.build.js', version: '20200218'}];

each scriptItem in scripts
	script(src=scriptItem.file + '?v=' + scriptItem.version)

block scripts