.article {
	&-year {
		margin-bottom: 3em;
		font-weight: $font-weight-normal;

		&-label {
			color: $gray-550;
		}

		&-nav {
			display: inline-block;
			padding: 0 1em;

			&:hover {
				&::before {
					border-color: $red;
				}
			}

			&::before {
				$size: 8px;

				display: inline-block;
				width: $size;
				height: $size;
				content: '';
				border: {
					width: 1px;
					color: $gray-550;
				}
				transform: rotate(45deg);

				@include transition(border-color .2s ease-in-out);
			}

			&._prev {
				&::before {
					border-style: none none solid solid;
				}
			}

			&._next {
				&::before {
					border-style: solid solid none none;
				}
			}
		}

		&-n {
			color: $gray-700;
		}
	}

	&-list {
		&-item {
			$padding-y: 1.5em;

			position: relative;
			margin-bottom: $grid-gutter-width;

			&:not(:last-child)::after {
				position: absolute;
				bottom: 0;
				content: '';
				border-top: 1px solid $gray-700;
			}

			@include media-breakpoint-down('md') {
				$padding-x: $grid-gutter-width * .8;

				margin: {
					left: -$padding-x;
					right: -$padding-x;
				}
				padding: $padding-y $padding-x;

				&:not(:last-child)::after {
					left: $padding-x;
					right: $padding-x;
				}
			}

			@include media-breakpoint-up('lg') {
				$padding-x: 8em;

				padding: $padding-y $padding-x;

				&:not(:last-child)::after {
					left: $padding-x;
					right: $padding-x;
				}
			}

			&-date,
			&-title {
				margin: 0 0 .5em;
			}

			&-date {
				color: $gray-550;
			}

			&-title {
				display: block;
				font: {
					size: 1.125rem;
					weight: $font-weight-normal;
				}
				text-transform: uppercase;
				color: inherit;

				&::before {
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					content: '';
				}

				&:hover {
					color: inherit;
					text-decoration: underline;
				}
			}
		}
	}
}