.breadcrumbs {
	$margin-x: $grid-gutter-width * .8;

	padding-bottom: $margin-x * .5;
	font-weight: $font-weight-normal;
	color: $gray-550;

	@include media-breakpoint-down('sm') {
		padding-left: $margin-x;
		overflow: {
			x: scroll;
			y: hidden;
		}
		-webkit-overflow-scrolling: touch;
		white-space: nowrap;
		-moz-backface-visibility: hidden;
	}

	&-container {
		@include media-breakpoint-down('sm') {
			height: 42px;
			margin: {
				left: -$margin-x;
				right: -$margin-x;
			}
			overflow: hidden;
		}
	}

	.delimiter {
		&::before {
			$size: 4px;

			display: inline-block;
			width: $size;
			height: $size;
			margin: 0 .7em;
			content: '';
			vertical-align: middle;
			border-radius: 50%;
			background-color: currentColor;
		}
	}

	> span {
		display: inline-block;
		margin-bottom: 1.5em;
	}

	a {
		color: inherit;

		&:hover {
			color: $black;
		}
	}
}