.footer {
	margin-top: auto;
	padding-top: 1rem;
	background-color: $black;

	&-main {
		color: $white;

		@include media-breakpoint-between('md', 'md') {
			.navbar-nav {
				flex-direction: row;
			}

			.menu-item {
				$margin-x: .3em;

				margin: {
					left: $margin-x;
					right: $margin-x;
				}
			}
		}
	}

	&-sub {
		padding-top: .7rem;
		color: $gray-700;
		background-color: darken($black, 10%);

		@include media-breakpoint-down('md') {
			font-size: .625rem;
		}

		a {
			color: inherit;

			&:hover {
				color: $white;
			}
		}
	}

	&-logo {
		margin-top: 1em;

		&:hover {
			.logo-text {
				fill: $white;
			}
		}

		.logo-text {
			fill: $gray-550;

			@include transition(fill .2s ease-in-out);
		}
	}

	&-copy,
	&-policy,
	&-dev {
		padding-bottom: .7rem;
	}

	&-policy,
	&-terms,
	&-gdpr {
		text-align: center;
	}

	@include media-breakpoint-down('md') {
		&-copy,
		&-terms {
			$width: 50%;

			flex-basis: $width;
			max-width: $width;
		}

		&-gdpr {
			text-align: left;
		}

		&-terms {
			margin-bottom: 1em;
			text-align: right;
		}
	}

	&-dev {
		text-align: right;
	}
}