.header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	padding-top: 1rem;
	color: $white;
	z-index: 2;

	@include transition(background-color .2s ease-in-out);

	._scrolled &,
	&:not(._overlay) {
		background-color: $black;
	}

	&._is-menu-expanded {
		@include media-breakpoint-down('md') {
			background-color: $black;
		}
	}

	&-container {
		position: relative;
	}

	&-nav {
		margin-bottom: 0;

		@include media-breakpoint-down('md') {
			margin-top: 1.5em;
		}

		&-item {
			font-weight: $font-weight-normal;
			color: $gray-550;

			&:not(:last-child) {
				margin-right: 1.6em;

				&:nth-child(2) {
					margin-right: 1.1em;
				}

				@include media-breakpoint-up('lg') {
					margin-right: 1.2em;
				}
			}

			@include media-breakpoint-down('md') {
				.header:not(._is-menu-expanded) & {
					display: none;
				}
			}
		}

		&-tablet {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	&-logo {
		@include transition(margin-bottom .2s ease-in-out);

		@include media-breakpoint-down('md') {
			header:not(._is-menu-expanded) & {
				margin-bottom: 0;
			}
		}

		svg {
			@include media-breakpoint-down('md') {
				width: 85px;
				height: 27px;
			}
		}
	}

	&-title {
		margin-bottom: .75em;
		color: $white;

		&-container {
			&:not(._with-bg) {
				background-color: $gray-100;

				@include media-breakpoint-down('md') {
					padding-top: 6em;
				}

				@include media-breakpoint-up('lg') {
					padding-top: 8em;
				}
			}

			&._with-bg {
				background: {
					color: $black;
					position: 50% 50%;
					repeat: no-repeat;
					size: cover;
				}

				@include media-breakpoint-down('sm') {
					min-height: 220px;
				}

				@include media-breakpoint-up('md') {
					min-height: 400px;
				}
			}
		}

		&-article {
			position: relative;

			&-date {
				color: $gray-550;

				@include media-breakpoint-down('md') {
					margin-bottom: .5em;
				}

				@include media-breakpoint-up('lg') {
					position: absolute;
					left: -100px;
					bottom: 0;
				}
			}

			&-title {
				margin-bottom: $grid-gutter-width;
				@include font-size(4.5rem);
			}
		}
	}

	&-observer {
		$size: 1px;

		position: absolute;
		left: 0;
		top: 0;
		width: $size;
		height: $size;
	}
}