.ico {
	$top-size: 1.1429em;
	$top-tablet-size: 1.5em;

	display: inline-block;

	&._top {
		width: $top-size;
		height: $top-size;

		.header-nav-tablet & {
			width: $top-tablet-size;
			height: $top-tablet-size;
		}
	}

	&-svg {
		vertical-align: top;

		&._top {
			$margin: .125em;

			margin: $margin;
			width: #{$top-size - $margin * 2};
			height: #{$top-size - $margin * 2};
			fill: $white;

			@include transition;

			.header-nav-tablet & {
				width: #{$top-tablet-size - $margin * 2};
				height: #{$top-tablet-size - $margin * 2};
			}

			.ico:hover & {
				fill: $link-color;
			}
		}
	}
}