.menu {
	&-container {
		margin-bottom: 1rem;
		padding: 0 $grid-gutter-width * .5;
	}

	&-item {
		margin: 0 $grid-gutter-width * .5;
		font-weight: $font-weight-normal;
	}

	a {
		padding-top: .3em;
		color: inherit;

		&,
		&::after {
			display: block;
		}

		&::after {
			width: 0;
			margin-top: .2em;
			content: '';
			border-bottom: 2px solid $link-color;

			@include transition;
		}

		&:hover {
			&::after {
				width: 35px;
			}
		}
	}
}