.menu {
	&-container {
		margin-bottom: 1rem;
		padding: 0 $grid-gutter-width * .5;

		@include media-breakpoint-down('md') {
			.header-nav-item:not(:last-child) {
				display: none;
			}
		}
	}

	&-item {
		font-weight: $font-weight-normal;

		@include media-breakpoint-down('md') {
			margin: .5em 0;
		}

		@include media-breakpoint-up('lg') {
			margin: 0 $grid-gutter-width * .5;
		}

		&::after {
			display: block;
			width: 0;
			margin-top: .2em;
			content: '';
			border-bottom: 2px solid $link-color;

			@include transition;
		}

		&:not(.active) {
			&:hover {
				&::after {
					width: 35px;
				}
			}
		}

		&.active {
			a {
				color: $link-color;
			}
		}
	}

	a {
		display: block;
		padding-top: .3em;
		color: inherit;
	}
}