.menu {
	&-container {
		margin-bottom: 1rem;
		padding: 0 $grid-gutter-width * .5;

		@include media-breakpoint-down('md') {
			.header-nav-item:not(:last-child) {
				display: none;
			}
		}
	}

	&-item {
		font-weight: $font-weight-normal;

		@include media-breakpoint-down('md') {
			margin: .5em 0;
		}

		@include media-breakpoint-up('lg') {
			margin: 0 $grid-gutter-width * .5;
		}

		&::after {
			display: block;
			width: 0;
			margin-top: .2em;
			content: '';
			border-bottom: 2px solid $link-color;

			@include transition;
		}

		._header > & {
			&.active,
			&:hover {
				&::after {
					width: 35px;
				}
			}
		}

		._footer > &:hover,
		&:last-child {
			a {
				color: $link-color;
			}
		}
	}

	&-side {
		@include media-breakpoint-down('sm') {
			width: 2000px;
		}

		&-item {
			color: $gray-550;

			&:not(:last-child) {
				margin-bottom: 1em;
			}

			@include media-breakpoint-down('sm') {
				$max-width: 200px;

				display: inline-block;
				max-width: $max-width;
				margin-right: 1em;
				vertical-align: top;
			}

			&.active {
				a {
					color: $link-color;

					@include media-breakpoint-up('md') {
						&::before {
							opacity: 1;
						}
					}
				}
			}
		}

		a {
			display: block;
			color: inherit;

			@include media-breakpoint-up('md') {
				position: relative;
				padding-left: 1em;

				&::before {
					$size: 4px;

					position: absolute;
					left: 0;
					top: .6em;
					width: $size;
					height: $size;
					content: '';
					border-radius: 50%;
					opacity: 0;
					background-color: currentColor;
				}
			}

			&:hover {
				color: $link-color;
			}
		}
	}

	a {
		display: block;
		padding-top: .3em;
		color: inherit;
	}
}