.product {
	&-grid {
		&-title {
			margin-bottom: .5em;
			font: {
				family: $font-sub;
				weight: $font-weight-bold;
			}
			@include font-size(6rem);
		}

		&-item {
			min-height: 370px;
			padding: 2.5em;
			font-weight: $font-weight-normal;
			background-color: $white;

			&-thumb {
				min-height: 150px;
			}

			&-content {
				text-align: center;
			}

			&-title,
			&-more {
				text-transform: uppercase;
			}

			&-title {
				margin-bottom: 1.5em;
				line-height: 1.1;
				text-overflow: ellipsis;
				overflow: hidden;

				@include media-breakpoint-up('lg') {
					min-height: 2.2em;
				}
			}

			&-price,
			&-more {
				font-size: 1.125rem;
			}

			&-price {
				margin-bottom: 1.5em;
			}

			&-more {
				display: block;

				@include media-breakpoint-up('lg') {
					height: 0;
					opacity: 0;

					@include transition;

					:hover > * > & {
						height: 25px;
						opacity: 1;
					}
				}
			}
		}

		&-carousel {
			position: relative;

			.owl {
				&-nav {
					position: absolute;
					top: 30%;

					@include media-breakpoint-down('sm') {
						display: none;
					}

					@include media-breakpoint-between('md', 'md') {
						left: 0;
						right: 0;
					}

					@include media-breakpoint-up('lg') {
						left: -$grid-gutter-width;
						right: -$grid-gutter-width;
					}

					button {
						position: absolute;
					}
				}

				&-next {
					right: 0;
				}
			}
		}
	}
}