.product {
	&-grid {
		&-title {
			margin-bottom: .5em;
			font: {
				family: $font-sub;
				weight: $font-weight-bold;
			}
			@include font-size(6rem);
		}

		&-item {
			display: block;
			min-height: 370px;
			padding: 2.5em;
			font-weight: $font-weight-normal;
			color: inherit;
			background-color: $white;

			&:hover {
				color: currentColor;
			}

			&-thumb {
				min-height: 150px;
			}

			&-content {
				text-align: center;
			}

			&-title,
			&-more {
				text-transform: uppercase;
			}

			&-title {
				margin-bottom: 1.5em;
				line-height: 1.1;
				text-overflow: ellipsis;
				overflow: hidden;

				@include media-breakpoint-up('lg') {
					min-height: 2.2em;
				}
			}

			&-price,
			&-more {
				font-size: 1.125rem;
			}

			&-price {
				margin-bottom: 1.5em;
			}

			&-more {
				display: block;
				color: $link-color;

				@include media-breakpoint-up('lg') {
					height: 0;
					opacity: 0;

					@include transition;

					:hover > * > & {
						height: 25px;
						opacity: 1;
					}
				}
			}
		}

		&-carousel {
			position: relative;

			.owl {
				&-nav {
					position: absolute;
					top: 30%;

					@include media-breakpoint-down('sm') {
						display: none;
					}

					@include media-breakpoint-between('md', 'md') {
						left: 0;
						right: 0;
					}

					@include media-breakpoint-up('lg') {
						left: -$grid-gutter-width;
						right: -$grid-gutter-width;
					}

					button {
						position: absolute;
					}
				}

				&-next {
					right: 0;
				}
			}
		}
	}

	&-col {
		@include media-breakpoint-down('md') {
			&-name,
			&-price {
				display: block;
				text-align: center;
			}
		}

		&-table {
			@include media-breakpoint-down('md') {
				&.table-striped tbody tr:nth-of-type(2n+1) {
					background-color: transparent;
				}

				thead {
					display: none;
				}
			}

			@include media-breakpoint-down('sm') {
				$margin-x: -$grid-gutter-width * .5;

				display: block;
				width: auto;
				margin: {
					left: $margin-x;
					right: $margin-x;
				}
				overflow: hidden;
			}
		}

		&-num {
			@include media-breakpoint-down('md') {
				display: none;
			}

			@include media-breakpoint-up('lg') {
				width: 3.5em;
				text-align: center;
			}
		}

		&-name {
			@include media-breakpoint-down('md') {
				background-color: $gray-100;
			}
		}

		&-main {
			margin: 1rem 0 3rem;
		}

		&-thumb {
			text-align: center;
		}

		&-info {
			@include media-breakpoint-down('md') {
				margin-bottom: 1em;
			}
		}

		&-more {
			@include media-breakpoint-down('md') {
				display: none;
			}

			@include media-breakpoint-up('lg') {
				width: 210px;

				.btn {
					margin: -$table-cell-padding;

					&-block {
						width: auto;
					}
				}
			}
		}
	}
}