.product {
	&-grid {
		&-title {
			margin-bottom: .5em;
			font: {
				family: $font-sub;
				weight: $font-weight-bold;
			}
			@include font-size(6rem);
			line-height: 1;
		}

		&-item {
			display: block;
			padding: 2.5em;
			font-weight: $font-weight-normal;
			color: inherit;
			background-color: $white;

			@include media-breakpoint-down('md') {
				min-height: 310px;
			}

			@include media-breakpoint-up('lg') {
				min-height: 370px;
			}

			&:hover {
				color: currentColor;
			}

			&-thumb {
				@include media-breakpoint-down('md') {
					min-height: 100px;
				}

				@include media-breakpoint-up('lg') {
					min-height: 150px;
				}
			}

			&-content {
				text-align: center;
			}

			&-title,
			&-more {
				text-transform: uppercase;
			}

			&-title {
				margin-bottom: 1.5em;
				line-height: 1.1;
				text-overflow: ellipsis;
				overflow: hidden;

				@include media-breakpoint-up('lg') {
					min-height: 2.2em;
				}
			}

			&-price,
			&-more {
				font-size: 1.125rem;
			}

			&-more {
				display: none;
				color: $link-color;

				@include media-breakpoint-up('lg') {
					display: block;
					height: 0;
					opacity: 0;
					margin-top: 1.5em;

					@include transition;

					:hover > * > & {
						height: 25px;
						opacity: 1;
					}
				}
			}
		}

		&-carousel {
			position: relative;

			&-container {
				@include media-breakpoint-down('sm') {
					&.widget {
						padding-right: $grid-gutter-width * 2.5;
						overflow: hidden;
					}
				}
			}

			.owl {
				&-nav {
					position: absolute;
					top: 30%;

					@include media-breakpoint-down('sm') {
						display: none;
					}

					@include media-breakpoint-between('md', 'md') {
						left: 0;
						right: 0;
					}

					@include media-breakpoint-up('lg') {
						left: -$grid-gutter-width;
						right: -$grid-gutter-width;
					}

					button {
						position: absolute;
					}
				}

				&-next {
					right: 0;
				}
			}
		}
	}

	&-col {
		@include media-breakpoint-down('md') {
			&-dl,
			&-web,
			&-flag,
			&-name,
			&-mail,
			&-addr,
			&-title,
			&-phone,
			&-price,
			&-person {
				display: block;
			}

			&-date,
			&-size {
				display: inline-block;
			}

			&-web,
			&-mail,
			&-addr,
			&-title,
			&-phone,
			&-person {
				padding-left: 60px !important;
			}

			&-name,
			&-price {
				&._catalog {
					text-align: center;
				}
			}

			&-name,
			&-title {
				background-color: $gray-100;
			}
		}

		&-table {
			@include media-breakpoint-down('md') {
				&.table-striped tbody tr:nth-of-type(2n+1) {
					background-color: transparent;
				}

				thead {
					display: none;
				}

				td[data-title] {
					&::before {
						display: block;
						font: {
							size: .75rem;
							weight: $font-weight-normal;
						}
						text-transform: uppercase;
						color: $gray-550;
						content: attr(data-title);
					}
				}
			}

			@include media-breakpoint-down('sm') {
				$margin-x: -$grid-gutter-width * .8;

				width: auto;
				margin: {
					left: $margin-x;
					right: $margin-x;
				}
				overflow: hidden;

				&,
				tr,
				tbody {
					display: block;
				}
			}

			@include media-breakpoint-up('lg') {
				margin-top: -2.5em;
			}

			&._doc {
				thead {
					border-bottom: $border-width solid $gray-400;
				}

				th,
				td {
					padding: {
						top: 1em;
						bottom: .5em;
					}

					@include media-breakpoint-up('md') {
						padding: {
							left: 0;
							right: 0;
						}
					}
				}
			}
		}

		&-num,
		&-flag {
			@include media-breakpoint-up('lg') {
				width: 3.5em;
				text-align: center;

				._doc & {
					width: 1.5em;
				}
			}
		}

		&-flag {
			@include media-breakpoint-down('md') {
				margin-bottom: -3.4em;
				vertical-align: top !important;
			}
		}

		&-num {
			@include media-breakpoint-down('md') {
				display: none;
			}
		}

		&-name,
		&-price {
			&._product {
				@include media-breakpoint-up('lg') {
					font-size: 1.125rem;
				}
			}
		}

		&-name {
			text-transform: uppercase;
		}

		&-price {
			color: $gray-700;
		}

		&-title {
			text-transform: uppercase;
		}

		&-main {
			margin: 1rem 0 3rem;
		}

		&-thumb {
			text-align: center;

			@include media-breakpoint-up('lg') {
				margin-bottom: 0;
			}
		}

		&-info {
			font-weight: $font-weight-light;
			color: $gray-700;

			@include media-breakpoint-down('md') {
				margin-bottom: 1em;
			}
		}

		&-date {
			@include media-breakpoint-down('md') {
				&[data-title] {
					margin-right: 2em;
				}

				&:not([data-title]) {
					padding: 0;
				}
			}
		}

		&-dl {
			width: 170px;

			._doc & {
				width: 80px;

				td {
					padding: 0;
				}
			}

			&-link {
				@include media-breakpoint-down('md') {
					margin-right: 2em;
				}

				&[data-title] {
					@include media-breakpoint-down('md') {
						&::after {
							content: attr(data-title);
						}
					}
				}

				img {
					$size-md: 14px;

					@include media-breakpoint-down('md') {
						width: $size-md;
						margin-right: .5em;
					}

					._doc & {
						width: $size-md;
					}
				}
			}

			table {
				width: 100%;
			}

			tr {
				background-color: transparent !important;

				@include media-breakpoint-down('md') {
					display: flex;
				}
			}

			td {
				padding: 0;
				text-align: center;

				@include media-breakpoint-down('md') {
					white-space: nowrap;
					vertical-align: middle;
				}
			}

			a {
				color: inherit;
			}
		}

		&-more {
			@include media-breakpoint-down('md') {
				display: none;
			}

			@include media-breakpoint-up('lg') {
				width: 210px;

				.btn {
					margin: -$table-cell-padding;

					&-block {
						width: auto;
					}
				}
			}
		}

		&-link {
			color: inherit;

			&:hover {
				color: $link-color;
			}
		}
	}

	&-main {
		@include media-breakpoint-down('sm') {
			margin-top: .8em;
		}

		@include media-breakpoint-up('md') {
			margin-top: 2.2em;
			margin-bottom: $grid-gutter-width;
		}
	}

	&-widget {
		font-weight: $font-weight-normal;
		color: $gray-700;

		&:not(:last-child) {
			@include media-breakpoint-down('sm') {
				margin-bottom: 3em;
			}

			@include media-breakpoint-up('md') {
				margin-bottom: 5em;
			}
		}

		&-title {
			margin-bottom: 1.8em;
			padding-bottom: .3em;
			font: {
				size: .75rem;
				weight: $font-weight-medium;
			}
			text-transform: uppercase;
			color: $gray-550;

			@include media-breakpoint-up('md') {
				border-bottom: $border-width solid $gray-400;
			}
		}
	}

	&-thumb {
		&-main {
			margin: 1rem 0;
			text-align: center;
		}

		&-carousel {
			padding: 2em 0;

			@include media-breakpoint-up('md') {
				$padding-x: $grid-gutter-width * 2.5;

				padding: {
					left: $padding-x;
					right: $padding-x;
				}
			}

			&-container {
				&._border {
					@include media-breakpoint-up('md') {
						border-top: $border-width solid $gray-400;
					}
				}
			}

			&-item {
				margin: 0;
				text-align: center;

				&-title {
					display: block;
					margin-top: 2em;
					font-weight: $font-weight-normal;
					text: {
						align: left;
						transform: uppercase;
					}
					color: $body-color;
				}

				img {
					@include media-breakpoint-down('md') {
						width: 90%;
					}
				}
			}

			.owl {
				&-nav {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					margin-top: 0;

					@include media-breakpoint-down('sm') {
						display: none;
					}

					@include media-breakpoint-between('md', 'md') {
						left: 0;
						right: 0;
					}

					@include media-breakpoint-up('lg') {
						$padding-x: $grid-gutter-width * .5;

						left: -$padding-x;
						right: -$padding-x;
					}

					.owl-prev {
						i {
							left: .3em;
						}
					}

					button {
						$size: 50px;

						display: flex;
						justify-content: center;
						align-items: center;
						position: absolute;
						width: $size;
						height: $size;
						margin-top: -$size * .5;
						border: {
							width: $border-width;
							style: solid;
							color: $gray-550;
							radius: 50%;
						}

						i {
							left: .1em;

							&::before {
								position: static;
							}
						}
					}
				}

				&-next {
					right: 0;
				}
			}

			a {
				display: block;
			}
		}
	}

	&-option {
		margin: 1.7em 0;
		font-weight: $font-weight-normal;
		text-transform: uppercase;

		&-label {
			margin-right: .3em;
			color: $gray-550;
		}

		&-list {
			margin-bottom: 0;

			li {
				position: relative;
				margin: .3em 0;
				padding-left: 1em;

				&::before {
					position: absolute;
					left: 0;
					top: 0;
					content: '\2013';
				}
			}
		}
	}

	&-video {
		$icon-size: $grid-gutter-width;

		display: inline-block;
		position: relative;

		&:hover {
			&::before {
				background-color: rgba($white, .5);
			}
		}

		&::before,
		&::after {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			content: '';
		}

		&::before {
			$size: $icon-size;

			width: $size;
			height: $size;
			border-radius: 50%;
			background-color: rgba($gray-100, .3);

			@include transition;
		}

		&::after {
			$size: $icon-size * .2;

			left: .1em;
			width: 0;
			height: 0;
			border: {
				style: solid;
				width: $size 0 $size $size * 1.7;
				color: transparent transparent transparent $white;
			}
		}
	}

	&-manual {
		&-item {
			margin-bottom: $grid-gutter-width;

			&-title,
			&-dl {
				margin-bottom: .5em;
				@include font-size(1.125rem);
				font-weight: $font-weight-normal;
				text-transform: uppercase;
			}

			&-title {
				margin-right: $grid-gutter-width * .5;
			}

			&-info {
				margin-top: 1em;
				font-size: 1rem;
				color: $gray-700;

				@include media-breakpoint-up('xl') {
					line-height: 1.8;
				}
			}

			figure {
				@include media-breakpoint-up('lg') {
					margin-bottom: 0;
				}
			}
		}
	}
}