.promo {
	&-container,
	&-item {
		@include media-breakpoint-down('sm') {
			min-height: 420px;
		}

		@include media-breakpoint-between('md', 'md') {
			min-height: 550px;
		}

		@include media-breakpoint-up('lg') {
			height: 100vh;
			min-height: 600px;
		}
	}

	&-container {
		background-color: $black;
		overflow: hidden;
	}

	&-item {
		position: relative;
		color: $white;
		background: {
			repeat: no-repeat;
			position: 50% 50%;
			size: cover;
		}
		overflow: hidden;

		&::after {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			content: '';
			background: rgba($black, .6);
		}

		@include media-breakpoint-down('sm') {
			padding-bottom: 7em;
		}

		.container,
		&-more {
			position: relative;
			z-index: 1;
		}

		&-video {
			position: absolute;
			top: 50%;
			left: 50%;
			width: auto;
			height: auto;
			min-width: 100%;
			min-height: 100%;
			transform: translate(-50%, -50%);
		}

		&-inner {
			position: relative;
			max-width: 650px;
			padding-right: 2.5em;

			@include media-breakpoint-down('sm') {
				top: .8em;
			}

			@include media-breakpoint-up('md') {
				top: -.8em;
				opacity: 0;

				@include transition(opacity .5s ease-in-out 1s);

				.owl-item.active & {
					opacity: 1;
				}
			}
		}

		&-label {
			margin-bottom: .3em;
			font-weight: $font-weight-normal;
			text-transform: uppercase;
			color: $link-color;
		}

		&-title {
			@include media-breakpoint-down('sm') {
				font-size: 2.5rem;
			}
		}

		&-more {
			display: block;
			font: {
				family: $font-sub;
				weight: $font-weight-bold;
			}
			color: $white;
			fill: currentColor;
			background-color: $gray-700;

			@include media-breakpoint-down('md') {
				width: 80px;
				height: 41px;
				margin-right: -20px;
				transform: rotate(-90deg);
			}

			@include media-breakpoint-up('lg') {
				position: absolute;
				right: 0;
				width: 115px;
				height: 141px;
			}

			&:hover {
				color: $black;
				background-color: $white;
			}

			.ico {
				@include media-breakpoint-down('md') {
					display: none;
				}

				@include media-breakpoint-up('lg') {
					margin: .2em 0 0 .2em;
					vertical-align: text-top;
					fill: inherit;
				}
			}
		}
	}

	&-grid {
		$gutter: 5px;

		margin: {
			left: auto;
			right: auto;
		}

		&._with-gutter {
			@include media-breakpoint-up('lg') {
				padding: .6em .6em 1px;
			}
		}

		&-item {
			position: relative;

			@include media-breakpoint-down('md') {
				$gutter: $gutter * .4;

				padding: {
					left: $gutter;
					right: $gutter;
				}

				&:not(._with-gutter) {
					margin-top: $gutter;
				}

				&._with-gutter {
					margin-bottom: $gutter;
				}
			}

			@include media-breakpoint-down('sm') {
				padding: {
					left: 0;
					right: 0;
				}

				&:not(._with-gutter) {
					margin-top: $gutter * .4;
				}

				&._with-gutter {
					margin: 0 $gutter $gutter;
				}
			}

			@include media-breakpoint-up('lg') {
				&:not(._with-gutter) {
					padding: {
						left: 0;
						right: 0;
					}
				}

				&._with-gutter {
					$gutter: $gutter * 2.5;

					padding: {
						left: $gutter;
						right: $gutter;
					}
				}
			}

			&-inner {
				@include media-breakpoint-down('md') {
					padding: $grid-gutter-width $grid-gutter-width * .8;
					background: {
						color: $black;
						repeat: no-repeat;
						position: 50% 50%;
						size: cover;
					}
				}

				@include media-breakpoint-down('sm') {
					min-height: 210px;
				}

				@include media-breakpoint-between('md', 'md') {
					min-height: 320px;
				}

				@include media-breakpoint-up('lg') {
					background-image: none !important;
				}
			}

			&-thumb {
				margin-bottom: $gutter * 2;
				background-color: $black;
				overflow: hidden;

				@include media-breakpoint-down('md') {
					display: none;
				}

				:hover > & {
					img {
						transform: scale(1.05);
					}
				}

				&:not(._with-gutter) {
					margin-bottom: 0;

					img {
						opacity: 0;

						:hover > & {
							opacity: 1;
						}
					}
				}

				&,
				img {
					width: 100%;
				}

				img {
					@include transition(
						opacity .5s ease-in-out,
						transform .7s ease-in-out
					);
				}
			}

			&-content {
				display: block;
				color: $white;

				@include transition;

				@include media-breakpoint-up('lg') {
					position: absolute;
					left: 4.5em;
					right: 4em;
					bottom: $grid-gutter-width * 2;

					&._with-gutter {
						left: calc(4em - .2em);
					}
				}
			}

			&-label {
				display: inline-block;
				position: relative;
				margin-bottom: .3em;
				font-weight: $font-weight-normal;
				text-transform: uppercase;
				color: $link-color;

				@include media-breakpoint-up('lg') {
					:not(._with-gutter) > * > * > &::before {
						position: absolute;
						left: calc(100% + .3em);
						bottom: .3em;
						content: '';
						width: 0;
						border-top: $border-width solid $link-color;

						@include transition;
					}

					:not(._with-gutter):hover > * > * > &::before {
						width: 12em;
					}
				}
			}

			&-title {
				font-family: $font-sub;
				line-height: .8;

				@include font-size(4.5rem);
			}

			a {
				color: inherit;
			}
		}
	}

	&-carousel {
		&-nav {
			$size: $grid-gutter-width * 3;
			$color: $white;
			$color-inactive: rgba($white, .3);

			left: 0;
			right: 0;
			margin: auto;
			color: $color;

			&::before,
			&::after {
				display: block;
				content: '';
				border-width: 1px;
			}

			&::before {
				border-color: $color-inactive;
			}

			&::after {
				border-color: $color;
			}

			&._changed::after {
				animation: {
					duration: var(--timeout);
					iteration-count: 1;
				}
			}

			@include media-breakpoint-down('md') {
				bottom: $grid-gutter-width;
				transform: translate(3em, -.8em);

				&::before,
				&::after {
					border-top-style: solid;
				}

				&::before {
					width: calc(100% - #{$grid-gutter-width * 2.8});
				}

				&::after {
					margin-top: -1px;
					width: 0;
				}

				&._changed::after {
					animation-name: carousel-animation-x;
				}
			}

			@include media-breakpoint-up('lg') {
				top: 0;
				bottom: 0;
				height: $size;
				transform: translateX(3em);

				&::before,
				&::after {
					position: absolute;
					left: 0;
					top: 0;
					border-left-style: solid;
				}

				&::before {
					bottom: 0;
				}

				&::after {
					bottom: 100%;
				}

				&._changed::after {
					animation-name: carousel-animation-y;
				}
			}

			&,
			&-current,
			&-num {
				position: absolute;
			}

			@include media-breakpoint-down('md') {
				&-current,
				&-num {
					top: 0;
				}

				&-current {
					left: .5em;
					transform: translate(-.5em, -50%);
				}

				&-num {
					right: 0;
					transform: translate(-5.3em, -50%);
				}
			}

			@include media-breakpoint-up('lg') {
				&-current,
				&-num {
					left: 0;
				}

				&-current {
					top: 0;
					transform: translate(-50%, -120%);
				}

				&-num {
					bottom: 0;
					transform: translate(-50%, 120%);
				}
			}
		}
	}

	.owl-nav {
		position: absolute;
		left: 0;
		right: 0;
		height: 21px;
		margin: auto;
		z-index: 1;

		@include media-breakpoint-down('md') {
			bottom: $grid-gutter-width;
		}

		@include media-breakpoint-up('lg') {
			top: 0;
			bottom: 0;
			transform: translateY(-4.2em);
		}
	}

	button {
		$color: $white;
		$color-hover: $link-color;
		$color-inactive: rgba($color, .4);

		&.owl-prev,
		&.owl-next {
			&.disabled {
				&,
				&:hover {
					i::before {
						border-color: $color-inactive;
					}
				}
			}

			&:hover {
				i::before {
					border-color: $color-hover;
				}
			}

			i::before {
				border-color: $color;
			}
		}

		@include media-breakpoint-down('md') {
			&.owl-next {
				position: absolute;
				right: $grid-gutter-width * .5;
			}
		}
	}
}

@keyframes carousel-animation-x {
	0% {
		width: 0;
	}

	100% {
		width: calc(100% - #{$grid-gutter-width * 2.8});
	}
}

@keyframes carousel-animation-y {
	0% {
		bottom: 100%;
	}

	100% {
		bottom: 0;
	}
}