.promo {
	&-container,
	&-item {
		@include media-breakpoint-down('sm') {
			min-height: 420px;
		}

		@include media-breakpoint-between('md', 'md') {
			min-height: 550px;
		}

		@include media-breakpoint-up('lg') {
			height: 100vh;
			min-height: 600px;
		}
	}

	&-container {
		background-color: $black;
	}

	&-item {
		color: $white;
		background: {
			repeat: no-repeat;
			position: 50% 50%;
			size: cover;
		}

		&-inner {
			max-width: 650px;
			padding-right: 2.5em;
		}

		&-label {
			margin-bottom: .3em;
			font-weight: $font-weight-normal;
			text-transform: uppercase;
			color: $link-color;
		}

		&-title {
			@include media-breakpoint-down('sm') {
				font-size: 2.5rem;
			}
		}

		&-more {
			display: block;
			font: {
				family: $font-sub;
				weight: $font-weight-bold;
			}
			color: $white;
			fill: currentColor;
			background-color: $gray-700;

			@include media-breakpoint-down('md') {
				width: 80px;
				height: 41px;
				margin-right: -20px;
				transform: rotate(-90deg);
			}

			@include media-breakpoint-up('lg') {
				position: absolute;
				right: 0;
				width: 115px;
				height: 141px;
			}

			&:hover {
				color: $black;
				background-color: $white;
			}

			.ico {
				@include media-breakpoint-down('md') {
					display: none;
				}

				@include media-breakpoint-up('lg') {
					margin: .2em 0 0 .2em;
					vertical-align: text-top;
					fill: inherit;
				}
			}
		}
	}

	&-grid {
		$gutter: 5px;

		max-width: 1235px;
		margin: {
			left: auto;
			right: auto;
		}

		&._with-gutter {
			@include media-breakpoint-up('lg') {
				padding: .6em .6em 1px;
			}
		}

		&-item {
			position: relative;

			@include media-breakpoint-down('md') {
				margin-bottom: $gutter * .4;
				padding: {
					left: $gutter * .4;
					right: $gutter * .4;
				}
			}

			@include media-breakpoint-down('sm') {
				padding: {
					left: 0;
					right: 0;
				}
			}

			@include media-breakpoint-up('lg') {
				&:not(._with-gutter) {
					padding: {
						left: 0;
						right: 0;
					}
				}

				&._with-gutter {
					padding: {
						left: $gutter;
						right: $gutter;
					}
				}
			}

			&-inner {
				@include media-breakpoint-down('md') {
					padding: $grid-gutter-width;
					background: {
						color: $black;
						repeat: no-repeat;
						position: 50% 50%;
						size: cover;
					}
				}

				@include media-breakpoint-down('sm') {
					min-height: 210px;
				}

				@include media-breakpoint-between('md', 'md') {
					min-height: 320px;
				}

				@include media-breakpoint-up('lg') {
					background-image: none !important;
				}
			}

			&-thumb {
				background-color: $black;

				@include media-breakpoint-down('md') {
					display: none;
				}

				&:not(._with-gutter) {
					margin-bottom: 0;

					img {
						opacity: 0;

						@include transition;

						:hover > & {
							opacity: 1;
						}
					}
				}

				margin-bottom: $gutter * 2;
			}

			&-content {
				display: block;
				color: $white;

				@include transition;

				@include media-breakpoint-up('lg') {
					position: absolute;
					left: 4.5em;
					right: 4em;
					bottom: $grid-gutter-width * 2;

					&._with-gutter {
						left: calc(4em - .2em);
					}
				}
			}

			&-label {
				display: inline-block;
				position: relative;
				margin-bottom: .3em;
				font-weight: $font-weight-normal;
				text-transform: uppercase;
				color: $link-color;

				@include media-breakpoint-up('lg') {
					&::before {
						position: absolute;
						left: calc(100% + .3em);
						bottom: .3em;
						content: '';
						width: 0;
						border-top: $border-width solid $link-color;

						@include transition;

						.promo-grid-item:hover & {
							width: 12em;
						}
					}
				}
			}

			&-title {
				font-family: $font-sub;
				line-height: .8;

				@include font-size(4.5rem);
			}

			a {
				color: inherit;
			}
		}
	}
}