.widget {
	&._text {
		@include media-breakpoint-down('md') {
			padding: $grid-gutter-width * 2 0;
		}

		@include media-breakpoint-up('lg') {
			padding: $grid-gutter-width * 3 0;
		}
	}

	&._inside {
		@include media-breakpoint-down('md') {
			padding: $grid-gutter-width * 2 $grid-gutter-width * .5;
		}

		@include media-breakpoint-up('lg') {
			padding: $grid-gutter-width * 3;
		}
	}

	&._dark {
		color: $white;
		background-color: $black;

		p {
			color: $gray-550;
		}
	}

	&._gray {
		background-color: $gray-100;
	}
}