extends ./layout/skeleton.pug

block meta
	title Downloads

block top
	- var currentMenuItem = 'downloads';
	+header('overlay')

	+title({title: 'Downloads', bg: '22'})

block content
	main.main
		.container
			.d-md-flex
				aside.main-side
					.main-side-title.d-none.d-md-block Folders
					+menuSide([{id: 1, title: 'Resources'}, {id: 2, title: 'Manuals'}, {id: 3, title: 'Software demos and freeware'}, {id: 4, title: 'Media'}], 4)

				.main-content
					.row
						- var i = 0;
						while i < 4
							- i++;
							.product-manual-item.row
								.col-lg-4
									figure
										a(
											href='t/27.jpg'
											data-fancybox='gallery')
											img.img-fluid.img-block(
												src='t/27.jpg'
												alt)

								.col-lg-8
									.d-md-flex.justify-content-md-between
										.product-manual-item-title Lorem ipsum dolor sit amet
										.product-manual-item-dl
											a(href='/') Download

									.product-manual-item-info
										p Etiam tempus nisi purus. Curabitur gravida mattis turpis, in placerat magna hendrerit id. Aliquam consequat tempus accumsan. Mauris eget libero ut velit luctus tristique auctor id nunc. Nulla neque nisi, fermentum quis varius eget, mattis sed ex. Nam a bibendum sem. In in mauris nec erat consequat bibendum. Sed sit amet est ante. Mauris facilisis et ipsum eget accumsan. Phasellus sem libero, varius eget finibus a, iaculis ac mauris. Phasellus semper iaculis ex.