extends ./layout/skeleton.pug

block meta
	title Password Recovery

block top
	+header

	+title({title: 'Password Recovery'})

block content
	main.main
		.container.container-article
			.main-content._article
				p Enter the email address of your account. Click "Continue" to receive your password by email.

				form.popup-sign-form-fields(
					action='/'
					method='post')

					+formGroups([{label: 'E-mail', type: 'email'}])

					input.btn.btn-lg.btn-block.btn-secondary.btn-dark-hover(
					value='Continue'
					type='submit')