a.header-nav-item.ico._top._search(
	href='#'
	data-fancybox
	data-src='#popup-search')
	include ./i/search.svg
	span.ico-text Search

a.header-nav-item.ico._top._user(href='/')
	include ./i/user.svg
	span.ico-text Log In