mixin logo(type)
	- var _type = type ? ' _' + type : '';

	a(
		class='logo' + _type
		href='/')

		if ( type == 'header' )
			include ./i/logo-header.svg

		if ( type == 'footer' )
			include ./i/logo-footer.svg