#popup-terms.popup
	.d-flex.flex-column
		.popup-content
			.popup-content-inner
				.popup-title Data processing policy
				.popup-subtitle RU-Data Processing Policy
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nulla culpa nobis praesentium libero est natus asperiores sit cum autem esse, quos aspernatur debitis quia, deleniti laborum. Dignissimos, natus, eos!
				p Consequuntur nemo, tenetur esse maxime sint blanditiis obcaecati modi molestiae repudiandae excepturi! Magni dolorem iure nostrum, ex hic adipisci odio ea inventore provident dolor, sapiente maiores, fugit? Eius, veritatis, reprehenderit.
				p Odit, repellat, unde! Beatae eum ratione ex voluptatum iure eos iusto, magnam eveniet vitae vero a dicta optio! Fugiat eaque quo laboriosam iusto. Quae laborum inventore recusandae assumenda eius voluptate.
				p Quos, vitae quibusdam eveniet commodi a facilis sed molestias. Mollitia inventore perferendis vero itaque, ad quasi labore cumque enim earum. Accusantium recusandae quam molestiae. Quos voluptate dolore, minima suscipit quisquam!
				p Quaerat tenetur quidem modi eos a, velit amet possimus debitis! Rem ex neque asperiores recusandae porro optio dignissimos laboriosam, nulla itaque quam. Distinctio amet, voluptatibus eveniet animi, accusantium cum recusandae.
				p Consequatur error ut dolorem, nemo excepturi, voluptas velit. Error ex sed laudantium ratione recusandae sit nesciunt doloremque, dolorem quasi odit, incidunt inventore ab dolorum obcaecati ipsam sapiente, et eaque totam.
				p Eius sed odio rem dignissimos dolores, vel temporibus unde fugit, enim similique, dicta magni aliquid eveniet consectetur! Dignissimos nisi, maxime, esse pariatur similique fuga quibusdam possimus veritatis dolore minus veniam?
				p Quasi ea at, saepe vero, modi aut numquam rem expedita, officiis magnam repellat similique. Quam quos deserunt id omnis, ducimus veritatis nobis, harum amet velit, consequuntur nihil non, quas temporibus.
				p Quae labore similique rem, laborum odio nisi veritatis voluptatem voluptatum delectus aperiam? Doloremque ipsa eaque perspiciatis aliquam voluptas sequi quasi debitis ipsam veritatis vel recusandae enim delectus, praesentium dolorem blanditiis!
				p Distinctio temporibus nostrum ducimus fuga atque veritatis tempora consequuntur sapiente ratione fugiat eius ipsa modi iure dolorum voluptate, at eum laudantium hic deserunt perferendis in eaque? Incidunt quaerat vel voluptatibus.

		.popup-sign-form-submit
			input.btn.btn-lg.btn-block.btn-dark-hover.btn-secondary(
				value='Thank You'
				type='submit')