.screen-reader-text {
	$size: 1px;

	position: absolute;
	width: $size;
	height: $size;
	margin: -$size;
	padding: 0;
	border: 0;
	clip: rect($size, $size, $size, $size);
	clip-path: inset(50%);
	overflow: hidden;
	word-wrap: normal !important;
}

.text-letter {
	display: inline-block;

	&::first-letter {
		color: $link-color;
	}
}

.container-article {
	max-width: 700px;
}