//
// Image Directory
//

$img-dir: '../i/';


//
// Fonts Variables
//

$font-dir:         '../fonts/';

$font-main-family: 'Ubuntu';
$font-sub-family:  'BebasNeue';
$font-sub:         $font-sub-family, 'Arial Narrow', sans-serif;


$fonts: (
        ( $font-sub-family, 'bold', normal, 700, 20191206 ),
);